.player-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
    padding: 0px;
}

.player-pic {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.player-name, .player-lives{
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
}

.game-header{
    display: flex;
    height: 200px;
    margin-bottom: 5px;
}

.game-header-h1{
    display: flex;
    flex: 1;
    margin: 0px;
    vertical-align: top;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    height: 200px;
}

#entire-board{
    display: flex;
    flex-direction: row;
}

#left-side-of-board{
    width: 20%;
    display: block;
}

#board{
    margin: 0px;
    width: 62%;
}

.board-space {
    width: 100px;
    height: 100px;
}

.rabbit-hole {
    width: fit-content;
}

#board-space-pic {
    width: 100px;
    height: 75px;
}

#board-space-button {
    background-color: white;
}

#board-space {
    display: inline-block;
    object-position: center;

}

#board-space :hover {
    cursor: pointer;
    opacity: 0.7;
}

#board-space-text {
    margin: 0px;
}

